<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicaudragon.joinmore.dao.ProductMapper">

    <resultMap id="productDTOMap" type="com.sicaudragon.joinmore.pojo.DTO.ProductDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="description" property="description"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <result column="category_type" property="categoryType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="shop" javaType="com.sicaudragon.joinmore.pojo.DO.Shop">
            <id column="s_id" property="id"/>
            <result column="s_name" property="name"/>
            <result column="s_description" property="description"/>
        </association>
    </resultMap>

    <select id="list" resultMap="productDTOMap">
        SELECT p.*, s.id s_id, s.name s_name, s.description s_description,
            c.name category_type
        FROM product p
        LEFT JOIN shop s
        ON p.shop_id = s.id
        LEFT JOIN category_type c
        ON c.id = p.category_type_id
    </select>
</mapper>