<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicaudragon.joinmore.dao.ProductCollectionMapper">
    <resultMap id="productDTOMap" type="com.sicaudragon.joinmore.pojo.DTO.ProductDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="description" property="description"/>
        <result column="icon" property="icon"/>
        <result column="status" property="status"/>
        <result column="category_type" property="categoryType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="s_name" property="shopName"/>
    </resultMap>
    <sql id="selectProductByUserId">
        SELECT p.*,s.`name` s_name,s.`description` s_description  FROM product p
        LEFT JOIN `shop` s
        ON p.`shop_id` = s.`id`
        WHERE
        p.`id` IN(
        SELECT id FROM product_collection pc
        WHERE pc.`user_id` = #{userId}
        )
    </sql>
    <sql id="delectProductCollection">
        DELETE FROM product_collection
        WHERE user_id = #{userId} AND product_id = #{productId}
    </sql>
    <insert id="insertProductCollection">
        INSERT INTO product_collection
        VALUES (#{id},#{userId},#{productId})
    </insert>

    <delete id="delectProductCollection">
    <include refid="delectProductCollection"/>
    </delete>

    <select id="selectProductByUserId" resultMap="productDTOMap">
    <include refid="selectProductByUserId"/>
    </select>
</mapper>
